
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="home-data">

        <button mat-icon-button >
          <img src="./../../assets/fire.svg" class="map-icon">
        </button>
        <h1 class="title">TrendMap</h1>
      </div>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/map'"> Home </a>
        <a mat-button [routerLink]="'/favorite'"> Favorites </a>
      </div>
      <div class="login-buttons">

        <button mat-raised-button color="accent" (click)="callSignIn()" *ngIf="!this.user">Sign in</button>
        <div *ngIf="this.user" class="logout-container">
          <div class="user-name"><img src="./../../assets/login.png"> {{this.user.attributes.name}}</div>
          <button mat-raised-button color="warn" (click)="callSignOut()" >Sign Out</button>
        </div>
      </div>
    </mat-toolbar-row>
  
    <mat-toolbar-row> 
        <span style="font-size: 12px;">TrendMap allows you to see popular places around you</span>
      </mat-toolbar-row>

  </mat-toolbar>