.login-buttons{
    margin-left:auto;
}
.logout-container{
    display:flex;
}
.user-name{
    margin-right:10px;
    img{
        height: 30px;
    }
}
.map-icon{
    height:30px;
}
.title{
    font-family: "BillabongW00-Regular";
    font-size: xx-large;
    padding-top:15px;
    padding-left:5px;
}
.home-data{
    display:flex;
}