
<mat-toolbar color="primary">
    <mat-toolbar-row>
     
      <a mat-button [routerLink]="'/map'"> 
          
       <div class="home-data">

        <button mat-icon-button >
          <img src="./../../assets/fire.svg" class="map-icon">
        </button>
        <h1 class="title">TrendMap</h1>
      </div>
      </a>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/favorite'"  matTooltip="View Favorites"> <img src="./../../assets/playlist.svg" class="map-icon"> </a>
      </div>
      <div class="login-buttons">

        <button mat-raised-button color="accent" (click)="callSignIn()" *ngIf="!this.user">Login</button>
        <div *ngIf="this.user" class="logout-container">
          <div class="user-name">{{this.user.attributes.name}}</div>
          <a mat-button (click)="callSignOut()"> <img src="./../../assets/logout.svg" class="map-icon"> </a>
        </div>
      </div>
    </mat-toolbar-row>
  
    <mat-toolbar-row> 
        <span style="font-size: 12px;">TrendMap allows you to see popular places around you</span>
      </mat-toolbar-row>

  </mat-toolbar>