<div layout="column" class="search-container">
  <mat-form-field flex="33" class="search-inside" >
    <mat-label style="color:#7b1fa2">Search</mat-label>
    <input matInput type="text" #searchBar >
  </mat-form-field>

  <div *ngIf="showRedoSearchButton" flex="20">
    <button mat-raised-button (click)="redoSearch()">Redo Search</button>
  </div>

  <mat-chip-list aria-label="Fish selection" class="type-list" [multiple]="true">
    <mat-chip color="primary" [selected]="allSelected" (click)="allfilterClicked()">All</mat-chip>
    <mat-chip *ngFor="let type of types" (click)="filterClicked(type)" [selected]="type.selected">{{type.text}}</mat-chip>
  </mat-chip-list>
  <div class="number-found" *ngIf="count">Found {{count}} places near you!!</div>
</div> 
<div class="container-view">

  <div class="pluswrap" [ngStyle]="{'display':isLoaderVisible ? 'flex':'none'}">
    <div class="plus">
      Loading...
    </div>
  </div>
    <app-google-maps (loadingDone)="loadingDone($event)"[center]="center" [listOfResults] = "listOfResults" (centerChangedEvent)="centerChangedEvent($event)" (infoWindowOpened)="infoWindowOpened($event)" flex='70' class="map-view"></app-google-maps>
    <app-detail-container [hidden]="!isClicked"  class="detail-view" [placesAPI]="placesAPI" (closeDetail)="closePane()"></app-detail-container>
</div>