.map-view{
    height:70vh;
    flex:70;
}
.detail-view{
    flex:30;
}
.container-view{
    display:flex;
}
.search-container{
    padding:10px;
    height:10vh
}
.search-inside{
    float:left;

    width: 20vw;
    margin-right: 10px;
}

.pluswrap {
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.91);
    top: 0;
}

.plus {
    display: flex;
    margin: 0 auto;
}