.map-view{
    height:75vh;
    flex:55;
}
.detail-view{
    flex:45;
    max-width: 45vw;
    background: #fafafa;
}
.container-view{
    display:flex;
}
.search-container{
    padding:10px 32px;
    display: flex;
    flex-direction: row;
    background: #7b1fa2;
}
.result-container{
    padding: 0px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    background: #7b1fa2;
}
.type-list{
    padding-left: 32px;
    height: 10vh;
    overflow-y: scroll;
    flex: 30;
}
.search-inside{
    float:left;

    width: 20vw;
    margin-right: 10px;
}

.pluswrap {
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.91);
    top: 0;
}

.plus {
    display: flex;
    margin: 0 auto;
}

.number-found{
    font: 500 16px/32px Roboto, "Helvetica Neue", sans-serif;
    margin-left: 32px;
    color: #f5f5f5;
}
.redo-button{
    
    margin:10px;
    cursor: pointer;
}
.filter-select{
    
    margin: 0px 10px;
}
.mat-selected{
    color:#f5f5f5 !important;
}
.redo-icon{
    height: 20px;margin-top: 5px;
}