.map-view{
    height:70vh;
    flex:70;
}
.detail-view{
    flex:30;
    background: #fafafa;
}
.container-view{
    display:flex;
}
.search-container{
    padding:10px;
    height:10vh;
    display: flex;
    flex-direction: row;
}
.type-list{
    padding-left: 10px;
    height: 10vh;
    overflow-y: scroll;
    flex: 30;
}
.search-inside{
    float:left;

    width: 20vw;
    margin-right: 10px;
}

.pluswrap {
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.91);
    top: 0;
}

.plus {
    display: flex;
    margin: 0 auto;
}

.number-found{
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
    margin-left: 10px;
}