

<google-map height={{height}} width={{width}} [center]="center"
(mapClick)="addMarkerToPoint($event)" [options]="options" 
(centerChanged)="getCenter($event)"
#googlemaps class="map-container">

<map-marker
  *ngFor="let marker of markers"
  [position]="marker.position"
  [label]="marker.label"
  [title]="marker.title"
  [options]="marker.options"
  (mapClick)="openInfo(marker)"
>
</map-marker>

<map-marker
  *ngFor="let marker of centerMarkers"
  [position]="marker.position"
  [label]="marker.label"
  [title]="marker.title"
  [options]="marker.options"
>
</map-marker>
</google-map>