
<div matRipple [matRippleColor]="myColor" >
    <div >
        <div class="closeBar" >
                <div class="closeIcon" (click)="closeClick()">
                        <i class="fa fa-times" aria-hidden="true" style="font-size: 20px;"></i>	
                </div>
        </div>
        <div *ngIf="placesAPI" class="topBar" >
            <div class="spinner-detail">
                <div class="spinner-text">{{scoreNum.toLocaleString().split('.')[0]}} %</div>
                <mat-progress-spinner  [color]="color" [mode]="mode" [value]="score" [diameter]="80">
                </mat-progress-spinner>
            </div>
            
            <div class="nameText"> 
                <p>{{placesAPI["name"] }}</p>
            <div class="yelp-info" *ngIf="yelpInfo ">
                <div *ngIf="rating ">
                    <span class="fa fa-star " [ngClass]="this!.rating >=1 ? 'checked':''"></span>
                    <span class="fa fa-star " [ngClass]="this!.rating >=2 ? 'checked':''"></span>
                    <span class="fa fa-star " [ngClass]="this!.rating >=3 ? 'checked':''"></span>
                    <span class="fa fa-star " [ngClass]="this!.rating >=4 ? 'checked':''"></span>
                    <span class="fa fa-star" [ngClass]="this!.rating >=5 ? 'checked':''"></span>
                </div>
                <div *ngIf="price " class="price">
                    {{price}}
                </div>
            </div>
                
        </div>
            <div class="favorite-button" *ngIf="!this.loading && this.userData">

                <a (click)="markAsFavorite(true)" *ngIf="!this.isFavorite"><img src="./../../assets/heart.svg" class="map-icon" style="height:25px;"> </a>
                <a (click)="markAsFavorite(false)" *ngIf="this.isFavorite"><img src="./../../assets/heart-filled.svg" class="map-icon" style="height:25px;"></a>
            </div>
        </div>
        <div *ngIf="loading">
            <img src="../../../assets/load.gif" class="loader-image">
        </div>
        <div *ngIf="!loading">


            <div *ngIf="instaInfo" class="insta-container">
                <app-insta [instaInfoArr]="instaInfoArr"></app-insta>
            </div>

            <div *ngIf="!yelpInfo && !instaInfo">
                No additional information currently available
            </div>
        </div>
    </div>
    
</div>
