
<div matRipple [matRippleColor]="myColor" >
    <div >
        <div *ngIf="placesAPI" class="topBar" >
            <p class="nameText"> 
                {{placesAPI["name"] }}
            </p>
            <div class="spinner">
                <div class="spinner-text">{{scoreNum.toLocaleString().split('.')[0]}} %</div>
                <mat-progress-spinner  [color]="color" [mode]="mode" [value]="score" [diameter]="50">
                </mat-progress-spinner>
            </div>
        </div>
        <div *ngIf="loading">
            <img src="../../../assets/load.gif" class="loader-image">
        </div>
        <div *ngIf="!loading">
            <div class="yelp-info" *ngIf="yelpInfo ">
                <div *ngIf="rating ">
                    <span class="heading">User Rating</span>
                    <span class="fa fa-star " [ngClass]="this!.rating >=1 ? 'checked':''"></span>
                    <span class="fa fa-star " [ngClass]="this!.rating >=2 ? 'checked':''"></span>
                    <span class="fa fa-star " [ngClass]="this!.rating >=3 ? 'checked':''"></span>
                    <span class="fa fa-star " [ngClass]="this!.rating >=4 ? 'checked':''"></span>
                    <span class="fa fa-star" [ngClass]="this!.rating >=5 ? 'checked':''"></span>
                </div>
            </div>


            <div *ngIf="instaInfo" class="insta-container">
                <app-insta [instaInfoArr]="instaInfoArr"></app-insta>
            </div>

            <div *ngIf="!yelpInfo && !instaInfo">
                No additional information currently available
            </div>
        </div>
    </div>
    
</div>
