
<div matRipple [matRippleColor]="myColor" >
    <div>
        <p *ngIf="placesAPI" class="nameText">{{placesAPI["name"] }}</p>
        <div *ngIf="loading">
            <img src="../../../assets/load.gif" class="loader-image">
        </div>
        <div *ngIf="!loading">
            <div class="yelp-info" *ngIf="yelpInfo ">
                <div *ngIf="rating ">
                    <span class="heading">User Rating</span>
                    <span class="fa fa-star " [ngClass]="this!.rating >=1 ? 'checked':''"></span>
                    <span class="fa fa-star " [ngClass]="this!.rating >=2 ? 'checked':''"></span>
                    <span class="fa fa-star " [ngClass]="this!.rating >=3 ? 'checked':''"></span>
                    <span class="fa fa-star " [ngClass]="this!.rating >=4 ? 'checked':''"></span>
                    <span class="fa fa-star" [ngClass]="this!.rating >=5 ? 'checked':''"></span>
                </div>
            </div>
            <div class="insta-info">
                
            </div>
            <div *ngIf="!yelpInfo && !instaInfo">
                No additional information currently available
            </div>
        </div>
    </div>
    
</div>
