
.loader-image{
    width:100%;
}
.favorite-button{
  margin-top:-10px;
  margin-right: 5px;
  img{
    cursor: pointer;

  }
}

.spinner-detail{
  margin-right:12px;
  .spinner-text{
    margin-bottom: -50px;
    margin-left: 30px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: normal;
    color:white;
  }
  ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #ff7f3b;
  }
  
}
.nameText{
  margin-top: -30px;
  font-size: 16px;
  p{
    margin-bottom: 5px;
  }
}
.price{
  color: #98FF8D ;
  font-size: 18px;
}
.closeBar{
  
  background: #a83ecf;
  display:flex;
  .closeIcon{
    cursor: pointer;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: normal;
    color: white;
    margin: 5px 0px 0px 5px;
  }
}
.yelp-info{
    * {
        box-sizing: border-box;
      }
      div{
        
        margin-bottom: 5px;
      }
      
      .heading {
        //font-size: 25px;
        margin-right: 25px;
      }
      
      
      .checked {
        color: #ffe652;
      }
      
      /* Three column layout */
      .side {
        float: left;
        width: 15%;
        margin-top: 10px;
      }
      
      .middle {
        float: left;
        width: 70%;
        margin-top: 10px;
      }
      
      /* Place text to the right */
      .right {
        text-align: right;
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* The bar container */
      .bar-container {
        width: 100%;
        background-color: #f1f1f1;
        text-align: center;
        color: white;
      }
      
      /* Individual bars */
      .bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
      .bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
      .bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
      .bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
      .bar-1 {width: 15%; height: 18px; background-color: #f44336;}
      
      /* Responsive layout - make the columns stack on top of each other instead of next to each other */
      @media (max-width: 400px) {
        .side, .middle {
          width: 100%;
        }
        /* Hide the right column on small screens */
        .right {
          display: none;
        }
      }
}