/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.topBar{  
    background: #7b1fa2;
    padding: 20px;
    display:flex;
    padding-top: 25px;
    display: flex;
    padding-bottom: 10px;
    .nameText{
        flex:1;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: normal;
        color:white;
    }
    .spinner{
      margin-left:auto;
      .spinner-text{
        margin-bottom: -35px;
        margin-left: 12px;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: normal;
        color:white;
      }
    }
  }