/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
#Capa_1{
  path{
    fill:#f5f5f5;
  }
}
@font-face {
  font-family: "BillabongW00-Regular"; 
  src: url("./assets/Billabong.woff"); 
}

.topBar{  
    background: #a83ecf;
    padding: 20px;
    display:flex;
    padding-top: 25px;
    display: flex;
    padding-bottom: 10px;
    .nameText{
        flex:1;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: normal;
        color:white;
    }
    .spinner{
      margin-right:12px;
      .spinner-text{
        margin-bottom: -35px;
        margin-left: 12px;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: normal;
        color:white;
      }
    }
  }