<div class="not-logged-in" *ngIf="!userData">Kindly login to see favorites</div>
<div *ngIf="userData"  class="fav-container">
    <div  class="fav-list">
        
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 fav-table">

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef class="topBar headerText">
                <p class="nameText"> 
                    Places you marked "to visit"
                </p> </th>
              <td mat-cell *matCellDef="let element" class="rowData" (click)="showLocation(element)"> 
                <div class="spinner">
                  <div class="spinner-text">{{element.trendingScore.toLocaleString().split('.')[0]}}</div>
                  <mat-progress-spinner  [color]="color" [mode]="mode" [value]="element.trendingScore" [diameter]="80">
                  </mat-progress-spinner>
              </div>
              <div class="fav-text">
                {{element.name}} 
                <div >
                  {{element.type}} 
  
                </div>

              </div>

              </td>
            </ng-container>          
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
    <app-map-location [class]="isClicked ? 'map-view-unclick' :'map-view' " [placesAPI]="placesAPI" [markerData]="dataSource"  [center]="center" (infoWindowOpened)="infoWindowOpened($event)" ></app-map-location>
    <app-detail-container [hidden]="!isClicked"  class="detail-view" [placesAPI]="placesAPI"  (closeDetail)="closePane()"></app-detail-container>
</div>